apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base
patchesStrategicMerge:
- deployment.yaml
- canary.yaml
namespace: instavote
images:
- name: schoolofdevops/vote
  newName: ruwbdy/vote
  newTag: main-7d09d98c-1733763067 # {"$imagepolicy": "flux-system:vote:tag"}
replicas:
- name: vote
  count: 0
commonLabels:
  project: instavote
  env: staging
commonAnnotations:
  supported-by: "sre@example.com"
configMapGenerator:
- name: vote
  literals:
  - OPTION_A=FluxCD
  - OPTION_B=ArgoCD
